server {
  listen 80;
  server_name
    owen.softcoreos.devleague.com
    www.owen.softcoreos.devleague.com;

  access_log /var/log/nginx/node-app.access.log;
  error_log /var/log/nginx/node-app.error.log;

  #for static files
  root /var/www/owen.softcoreos.devleague.com;
  location / {
    try_files $uri $uri/ =404;
  }

  # reverse proxy to node app
  location /api/ {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    proxy_pass http://localhost:3000/api/;
    proxy_redirect off;
  }
}